div.register_container {
  display: grid;
  /* grid-template-columns: 400px 1fr; */
  /* gap: calc(var(--base-gap) * 3); */
}

div.introductions > h1 {
  font-weight: 900 !important;
}

div.register_container > aside {
  background-color: #d9eeec;
}

div.register_container > aside > div.steps {
  background-color: #eef6f6;
}

div.steps div.left {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  place-content: center;
  align-items: center;
  border: 2px solid navy;
  z-index: 1;
  background-color: #eef6f6;
  outline: 10px solid #eef6f6;
}

div.steps ul {
  position: relative;
}

div.steps ul > li:last-of-type {
  background-color: grey;
  height: 100%;
  width: 4px;
  border-radius: 2px;
  position: absolute;
  left: 18px;
}




/*=======================*/
/* Register Main Section */
/*=======================*/
main.register_main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 90px);
  /* background-color: red; */
}

main.register_main > div.register_main_container > div {
  display: flex;
  flex-direction: column;
}

div.form_paper {
  max-width: 900px;
  width: 90vw;
  margin-inline: auto;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

div.form_paper > div.info {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

form.register_form {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

form.register_form > div.inputs_container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  column-gap: 1.5em;
  max-width: 500px;
  margin-inline: auto;

}

div.form_footer > div.inputs_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  column-gap: 1.5em;

}

form.register_form  label > input, select {
  width: 100%;
}





/*=================*/
/* Proceed Section */
/*=================*/
section.proceed {
  max-width: 400px;
  text-align: center;
  align-self: center !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/*================================*/
/* Media Query For Mobile Devices */
/*================================*/
@media (max-width: 950px) {
  div.register_main_container {
    padding: 1em 0;
    /* width: 100vw; */
  }

  div.register_container {
    grid-template-columns: 1fr;
    width: 100%;
    /* gap: calc(var(--base-gap) * 3); */
  }

  div.register_container > aside {
    display:  none;
  }

  div.form_paper {
    width: 90vw;
  }

  div.form_paper > form {
    padding: 1em;
    
  }

  div.form_paper > form > div.inputs_container {
    column-gap: 1em;
  }

  form.register_form  label > input, select {
    width: 100%;
    min-width: unset;
  }

  div.form_footer > div.inputs_container {
    column-gap: 1em;
    align-items: end !important;
  }
}